
.title-a {
  font-size: 50px;
  text-align: center;
}

.title {
  text-align: center;
  margin:50px 20px;
}

title > h1, p {
  font-size: 20px;
}


.container {
    display: flex;
    gap: 50px;
    justify-content: center;
  }

  button {
    background-color:rgb(12,92,59);
    color: white;
    padding: 14px 20px;
    margin-top: 65px;
    border: none;
    cursor: pointer;
  }


  .Photo {
    width: 150px;
    height: 150px;
  }

  @media (min-width: 768px) {
    footer {
      position: fixed;
      bottom: 0;
    }
  }
  
  @media (max-width: 768px) { 
    .container {
      flex-direction: column;      
      
    }
    .Photo {
      margin-inline: auto !important;
      width: 50%; 
    }

    .button {
      text-align: center;
    }
  }
