
#page {
    height: 70vh;
    place-items: center;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-areas: 
        "head head head" 
        ". main ." 
        "footer footer footer";
}

#content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "a b" 
        "c d"; 
    grid-gap: 20px;
}

.alinea {
    text-align: center;
}
#page #content-a {
    grid-area: a
}
#page #content-b {
    grid-area: b
}
#page #content-c {
    grid-area: c    
}
#page #content-d {
    grid-area: d
}

.content-title {
    font-size: 36px;
}

.news-container, .gallery-container { 
    margin-top: 25px;
}

.information {
    line-height: 2;
}
h1, p, .text-below {
    text-align: center;
}

.news, .gallery {
    display: flex;
    flex-direction: column;
}

.image-text {
    display: flex;
    place-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    text-align: center;
}

.month {
    display: block;
    margin: 0 auto;
  }

.button-nextpage{
    margin: auto;
    padding: 10px 50px; 
    color: white;
    font-size: 16px;
    cursor: pointer;
	background-image: linear-gradient(120deg, rgb(240,230,140), rgb(0,139,139));
}

.text-below {
    margin-top: 10px;
}

.image-content {
    margin-top: 20px;
    width: 150px;
    height: 150px;
}




@media screen and (max-width: 800px) {
    #page {
        grid-template-columns: 20px 1fr 20px;
    } 
    #content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "a"
            "b" 
            "c" 
            "d";
    }
}