.modal::backdrop {
  background: rgb(0 0 0 / 0.4);
}

.header-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 40px;
}

.month {
  width: 40%;
  height: 100px;
  border: 1px solid black;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 100px;   
  display: flex;
  
}

.open-btn {
  width: 100%;
  height: 100%;
  background-color: #3498DB;
  cursor: pointer;
  border: none;
  line-height: 100px;
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
  height: 500px;
}


.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 30px;
  font-weight: bold;
}

.modal-header .button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 30px;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

.content-modal {
  gap: 2px;
  font-size: 20px;
  display: flex;
}

.button-container {
  margin-top: 50px;
} 



.apply-button {
  display: grid;
  text-decoration: none;
  margin: auto;
  padding: 10px 50px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(35, 35, 215);

}



@media (max-width: 768px) { 
  .month {
    width: 80%;
  }

}