@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

* {
    --background: rgba(0, 0, 0, 0.85);
    box-sizing: border-box;
    padding: 0;
    font-family: sans-serif;
    margin: 0;
}



/* navigation */

header {
  grid-area: head;
  position: fixed;
  top: 0;
  background: var(--background);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

.logo-image {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100px;
  margin-left: 50px;
  height: 100px;
}

.logo {
  margin-right: 100px;
  width: fit-content;
  display: flex;
  cursor: pointer;
}

.nav-container {
  display: flex;
  align-items: center;
}


nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  margin-left: auto;
}


nav ul {
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 26px;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
  }
  
  .nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 16px;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 32px;
    border-radius: 2px;
    position: relative;
  }
  
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    content: '';
    position: absolute;
  }
  
  .nav-toggle-label span::before {
    bottom: 7px;
  }
  
  .nav-toggle-label span::after {
    top: 7px;
  }


/* Navigaton bar  */
.content-container{
  grid-area: main;
  padding-top: 140px;
  padding-bottom: 100px;
}


/* Footer */
footer {
    grid-area: footer;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column; 
}
footer ul li {
    list-style: none;
}
.footer-container {
    display: flex;
    padding: 20px 20px;
    padding-left: 50px;
}
.footer-container ul a {
    color: white;
    text-decoration: none;
    line-height: 1.7;
}
 
.item {
    flex-grow: 1;
    flex-basis: 100%; 
}
.icons {
    font-size: 40px;
    padding-left: 20px;
}
/* Footer */

@media screen and (min-width: 1217px) {
    .nav-toggle-label {
      display: none;
    }

    nav {
       all: unset; 

      position: relative;
      text-align: left;
      transition: none;
      transform: scale(1,1);
      background: none;
      top: initial;
      left: initial;
      
      grid-column: 3 / 4;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    
    nav ul {
      display: flex;
    }
    
    nav li {
      margin-left: 3em;
      margin-bottom: 0;
    }
    
    nav a {
      opacity: 1;
      position: relative;
    }
    
    nav a:hover::before {
      transform: scale(1,1);
    }

    
  }

  @media (max-width: 1217px){
    footer {
      display: flex;
      flex-wrap: wrap;
    }

    .item {
      width: 100%;
    }

    .icons {
      font-size: 30px;
    }

    .logo {
      margin-inline: auto;
    }
  }
