


/* navigation */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Imagelogo {
  width: 100px;
  height: 100px;
  cursor: pointer;
  margin-left: 50px;
}

.nav {
  height: 120px;
  width: 100%;
  background-color: #D3D3D3;
  position: relative;
}

  .nav > .nav-header {
    display: inline;
  }

.nav > .nav-header{
  display: inline-block;
  font-size: 30px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-items {
  display: inline;

  font-size: 30px;
}

.nav > .nav-items > a {
  display: inline-block;
  margin-left: 20px;
  transform: translate(0%, -70%);
  padding: 10px;
  text-decoration: none;
  color: black;
}

.nav > .nav-items > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}


.nav > #nav-check {
  display: none;
}


/* Navigaton bar  */
.content-container{
  grid-area: main;
  margin-top: 30px;
  padding-bottom: 100px;
}

/* Footer */
footer {
    grid-area: footer;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column; 
}
footer ul li {
    list-style: none;
}
.footer-container {
    display: flex;
    padding: 20px 20px;
    padding-left: 50px;
}
.footer-container ul a {
    color: white;
    text-decoration: none;
    line-height: 1.7;
}
 
.item {
    flex-grow: 1;
    flex-basis: 100%; 
}
.icons {
    font-size: 40px;
    padding-left: 20px;
}
/* Footer */

@media (max-width:1330px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0;
    transform: translate(-40%, 50%);
  }

  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid black;
  }

  .nav > .nav-items {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 120px;
    left: 0px;
  }

  .nav > .nav-items > a {
    display: block;
    width: 100%;
  }

  .nav > #nav-check:not(:checked) ~ .nav-items {
    height: 0px;
  }

  .nav > #nav-check:checked ~ .nav-items {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
  
}





