
main{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background-color:#627b8a;
}

.container{
    width:500px;
    box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
    padding:2em;
    background-color:#fff;
}

.title {
    text-align:center;
    margin-bottom:20px;
}

.form-group {
    margin-bottom:1.5em;
    transition:all .3s;
}

.form-label {
    font-size:.75em;
    color:var(--font-color);
    display:block;
    opacity:0;
    transition: all .3s;
    transform:translateX(-50px);
}

.form-control {
    box-shadow:none;
    border-radius:0;
    border-color:#ccc;
    border-style:none none solid none;
    width:100%;
    font-size:1.25em;
    transition:all .6s;
}

.form-control::placeholder {
    color:#aaa;
}

.form-control:focus {
    box-shadow:none;
    outline:none;
}

.form-group:focus-within{
    transform:scale(1.1,1.1);
}

.btn{
    padding: 10px 50px;
    display:border-box;
    background-color: green;   
    color: white;
    font-size: 16px;
    cursor: pointer;
	background-image: linear-gradient(120deg, RGB(227,28,121), rgb(0, 208, 255));
}

textarea{
    resize:none;
}
